<template>
	<div>
		<div v-if="nothing">
			<div class="border border-muted px-3 py-2">
				<code>
					<pre class="mb-0">{{ code }}</pre>
				</code>
			</div>
			<button class="btn btn-outline-success btn-clipboard mt-3" :data-clipboard-text="code">Copy</button>
		</div>
		<div class="alert alert-warning" v-else>
			<p class="mb-0">Nothing here :(</p>
		</div>
	</div>
</template>

<script>
	import * as Clipboard from 'clipboard';

	export default {
		name: 'Code',
		props: {
			code: String
		},
		created() {
			new Clipboard('.btn-clipboard');
		},
		computed: {
			nothing() {
				return (this.code.length > 0);
			}
		}
	}
</script>
