<template>
	<div>
		<div v-if="nothing">
			<svg :viewBox="viewBox">
				<polyline fill="none" v-for="(line, index) in diagram.lines" :points="points(index, line)" :stroke="stroke(index)" />
			</svg>
		</div>
		<div class="alert alert-warning" v-else>
			<p class="mb-0">Nothing here :(</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'Diagramm',
		props: {
			diagram: Object
		},
		data() {
			return {
				width: 0,
				height: 0,
				diffX: 0,
				diffY: 0,
				padding: 10,
				colors: [],
				colorKeys: ['blue', 'indigo', 'purple', 'pink', 'red', 'orange', 'yellow', 'green', 'teal', 'cyan', 'gray', 'gray-dark']
			}
		},
		created() {
			this.width = (this.diagram.x.max - this.diagram.x.min) + this.padding;
			this.height = (this.diagram.y.max - this.diagram.y.min) + this.padding;
			this.diffX = this.diagram.x.max;
			this.diffY = this.diagram.y.max;

			for (let key of this.colorKeys)
				this.colors.push(getComputedStyle(document.documentElement).getPropertyValue('--' + key));
		},
		computed: {
			nothing() {
				return (Object.keys(this.diagram.lines).length > 0);
			},
			viewBox() {
				return '0 0 ' + this.width + ' ' + this.height;
			}
		},
		methods: {
			points(key, line) {
				let points = [];

				for (let index in line) {
					let point = line[index];

					points.push((this.diffX - point.x + (this.padding / 2)) + ',' + (this.height - this.diffY + point.y - (this.padding / 2)));
				}

				return points.join(' ');
			},
			stroke(key) {
				let colorIndex = Math.floor(Math.random() * (this.colors.length + 1));

				return this.colors[colorIndex];
			}
		}
	}
</script>
