<template>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Selector</th>
				<th>Property</th>
				<th>Breakpoint</th>
				<th>Value</th>
				<th width="70"></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(item, index) in list" :id="item.key">
				<td>{{ (index + 1) }}</td>
				<td>{{ item.selector }}</td>
				<td>{{ item.property }}</td>
				<td>{{ item.breakpointMin }}-{{ item.breakpointMax }}px</td>
				<td>{{ item.valueMin }}-{{ item.valueMax }}px</td>
				<td class="py-0 align-middle text-right">
					<button class="btn btn-sm btn-outline-success btn-clipboard mr-1" :data-clipboard-text="generateCode(item)">Copy</button>
					<button class="btn btn-sm btn-outline-danger" @click="$emit('remove', item.key)">Remove</button>
				</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
	import * as Clipboard from 'clipboard';

	export default {
		name: 'List',
		props: {
			list: Array
		},
		created() {
			new Clipboard('.btn-clipboard');
		},
		methods: {
			generateCode(item) {
				return '@media (min-width: ' + item.breakpointMin + 'px) and (max-width: ' + item.breakpointMax + 'px) {\n\t' + item.selector + ' {\n\t\t' + item.property + ': calc(' + item.valueMin + 'px + (' + item.valueMax + ' - ' + item.valueMin + ') * (100vw - ' + item.breakpointMin + 'px) / (' + item.breakpointMax + ' - ' + item.breakpointMin + '));\n\t}\n}';
			}
		}
	}
</script>

<style>
	.align-middle.text-right {
		width: 150px;
	}
</style>
